<%- include('includes/head.ejs', {
  username: username,
  permisos: permisos 
}) %>

<section class="section">
  <div class="container">
    <h1 id="title" class="title">¿¡Un instagram de deadpool?!</h1>
    <div class="block">
      <figure>
        <img id="imagen_disparar" src="">
      </figure>
    </div>
    <div class="columns">
      <% for (let insta_post of instagram_post) { %>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-5by3">
              <img src="/uploads/<%= insta_post.imagen %>">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="/uploads/<%= insta_post.imagen %>">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4"><%= insta_post.titulo %></p>
                <p class="subtitle is-6">@deadp00l!</p>
              </div>
            </div>

            <div class="content">
              <%= insta_post.caption %>
              <br>
              <br>
              <time datetime="2024-1-1"><%= insta_post.fecha %></time>
            </div>
          </div>
        </div>
      </div>
      <% } %>

    </div>

    <% for (let funcion of permisos) { %>
    <% if (funcion.funcion == 'crear_post') { %>
    <a href="/social/instagram/crear_post">
      <button class="button is-link">Crear post de instagram</button>
    </a>
    <% } %>
    <% } %>
  </div>
  </div>
</section>
<%- include('includes/foot.ejs') %>
</body>

</html>